<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Administrador</title>
</head>
<body>
    <div>
        <h1>CATEGORIAS</h1>
    </div>
    <div>
        {% for categoria in data %}
        <img src="{{ url_for('static', filename='uploads/' ~ categoria.imagen) }}" alt="{{ categoria.nombre }}" width="100">
                <h3>{{ categoria.nombre }}</h3>
                <div>
                    <samp>Descripcion: {{(categria.descripcion)}}</samp>
                </div>
</body>
</html>